@page
@model IndexModel
@{    
    ViewData["Title"] = "Barry the Bear";
}

@{
    var isMasonHere = true;

    var Hellhole = "";
    var GoodPlace = "";
    var MediumPlace = "";
    var BadPlace = "";
    var ChairHole = "";
    
    
    
    var startDate = DateTime.Parse("03/21/2023").Date;
    var currentDate = DateTime.Today.Date;
    var totalDays = (currentDate - startDate).Days;
    var displayDate = DateTime.Today.ToLongDateString();

    if (isMasonHere) {
        var rem = 0;
        Math.DivRem(totalDays, 4, out rem);
    
        if (rem == 0)
        {
            Hellhole = "Gus";            
            ChairHole = "Devo";
            GoodPlace = "Gra";
            MediumPlace = "Maggie";
            BadPlace = "Nard";
        }
        else if (rem == 1)
        {
            Hellhole = "Nard";
            ChairHole = "Gus"
            GoodPlace = "Devo";
            MediumPlace = "Gra";
            BadPlace = "Maggie";
        }
        else if (rem == 2)
        {
            Hellhole = "Maggie";
            ChairHole = "Nard"
            GoodPlace = "Gus";
            MediumPlace = "Devo";
            BadPlace = "Gra";
        }
        else if (rem == 3)
        {
            Hellhole = "Gra";
            ChairHole = "Maggie"
            GoodPlace = "Nard";
            MediumPlace = "Gus";
            BadPlace = "Devo";
        }
    }
    else {
        var rem = 0;
        Math.DivRem(totalDays, 3, out rem);
        Hellhole = "Mason's Ghost";
        
        if (rem == 0)
        {
            BadPlace = "Gra";
            GoodPlace = "Nard";
            MediumPlace = "Gus";
            Hellhole = "Devo";
        }
        else if (rem == 1)
        {
            BadPlace = "Gus";
            GoodPlace = "Devo";
            MediumPlace = "Nard";
            Hellhole = "Gra"
        }
        else if (rem == 2)
        {
            GoodPlace = "Gra";
            MediumPlace = "Devo";
            BadPlace = "Nard";
            Hellhole = "Gus"
        }
    }
    
}

<div class="text-center">
    <h1 style="font-size:300%;font-family:arial;">Seating Arrangements</h1>
    <p style="color:#58F908;font-size:150%;text-align:center;font-family:verdana;">@displayDate</p>
    <hr />
    <div style="color:#08BBF9;font-size:140%;text-align:center;font-family:verdana;">Good Place: @GoodPlace</div>
    <div style="color:#08BBF9;font-size:140%;text-align:center;font-family:verdana;">Medium Place: @MediumPlace</div>
    <div style="color:#08BBF9;font-size:140%;text-align:center;font-family:verdana;">Bad Place: @BadPlace</div>
    <div style="color:#08BBF9;font-size:140%;text-align:center;font-family:verdana;">Hellhole: @Hellhole</div>
    <div style="color:#08BBF9;font-size:140%;text-align:center;font-family:verdana;">Hellhole: @ChairHole</div>
</div>
